<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="2.0">
        <link rel="stylesheet" href="/static/Homepage.css">
</head>
<body>
    <div class="topnav">
        <a href="About">About</a>
        <a href="Login">Login</a>
        <a href="Registration">Register</a>
    </div>

    <div class="nav">
        <div class="column-left">
            <h1 style="text-align: center;">Welcome To Kaizen Website</h1>
            <p style="text-align: center;">This Website Helps You To Find
            Your Recommended Article & Especially Your Recommended Author/s.</p>
        </div>
    </div>

    
<div class="container">
    <input type="text" style="align-items: center;" placeholder="Search/Choose Faculty Member/Research Topic Keyword" list="input">
    <button type="button" buttn style="margin: 50px;" onkeyup="myFunction()" style="align-items: center" autocomplete="off";>Search</button>
    <datalist id="input">
        <option value="Engineer Ma. Cecilia A.Venal">Department Chair/Author</option>
        <option value="Engineer Alonica R.Villanueva">Faculty Member/Author</option>
        <option value="Engineer Jonathan V.Taylar">Faculty Member/Author</option>
        <option value="Engineer Roman M.Richard">Faculty Member/Author</option>
        <option value="Engineer Menchie M.Rosales">Faculty Member/Author</option>
        <option value="Engineer Ryan Francisco">Faculty Member/Author</option>
        <option value="Artificial Intelligence">Artificial Intelligence</option>
        <option value="Deep Learning">Deep Learning</option>
        <option value="Machine Learning">Machine Learning</option>
        <option value="Object-Oriented Programming">Object-Oriented Programming</option>
        <option value="Operating Systems">Operating Systems</option>
        <option value="Data & Algorithms">Data & Algorithms</option>
    </datalist>
</body>
</html>