<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="2.0">
        <link rel="stylesheet" href="/static/Login.css">
    </head>

    <body>

        <div class="modal">
            <form class="modal-content animate">
                <div class="nav">
                    <h1 style="text-align: center;">Welcome To Kaizen Website</h1>
                    <p style="text-align: center;">Login Page.</p>
                </div>

                <div class="imgcontainer">
                    <img src="" class="avatar">
                </div>

                <div class="container">
                <label>
                    Username
                </label>
                <input type="text" placeholder="Username"/>
                <br/>
                <label>
                    Password
                </label>
                <input type="password" placeholder="Password"/>
                <br/>
                <input type="checkbox" />Remember me
                <button>Login</button>
                <label>
                    <p>Forgot <a href="#">Password?</a> </p>
                </label>
                <label>
                     <p>No account?<a href="Registration.html">Sign-up</a> </p>
                </label>
            </div>
            </form>
        </div>
        </body>
     </html>    
</html>