<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <link rel="stylesheet", href="styles.css">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Profile Page</title>
    </head>
    <body>
        <section class="main">
        <div class="profile-card">
            <div class="image">

            </div>
            <div class="data">
                <h1 class="profile-name">Engineer Ryan Francisco</h1>
                <span>Faculty Member-Computer Engineering Department At Technological Institute Of The Philippines-Quezon City</span>
            </div>
            <div class="row">
                <div class="info">
                    <h3>Articles Total</h3>
                    <span>2</span>
                </div>
            </div>
            <div class="card mb-3 content">
                <h1 class="m-3">Recent Articles</h1>
                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">The perception of Filipinos on the advent of cryptocurrency and non-fungible token (NFT) games</h1>
                    </div>
                    <div class="row">
                        <h1 class="m-3">Application of Natural Language Processing for Phishing Detection Using Machine and Deep Learning Models</h1>
                    </div>
                </div>
            </div>
            
            </div>

        </section>
    </body>
</html>