<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Profile Page</title>
    </head>
    <body>
        <section class="main">
        <div class="profile-card">
            <div class="image">

            </div>
            <div class="data">
                <h1 class="profile-name">Engineer Alonica R.Villanueva</h1>
                <span>Faculty Member-Computer Engineering Department At Technological Institute Of The Philippines-Quezon City</span>
            </div>
            <div class="row">
                <div class="info">
                    <h3>Articles Total</h3>
                    <span>15</span>
                </div>
            </div>
            <div class="card mb-3 content">
                <h1 class="m-3">Recent Articles</h1>
                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Portable prevention and monitoring of driver’s drowsiness focuses to eyelid movement using Internet of Things</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Deep reinforcement learning with noise injection for UAV path planning</h1>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Application of Natural Language Processing for Phishing Detection Using Machine and Deep Learning Models</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Somnolence detection system utilizing deep neural network</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Bitcoin Price Forecasting using Time-series Architectures</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Crack Detection and Classification for Reinforced Concrete Structures using Deep Learning</h1>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Multivariate Time Series Forecasting using ARIMAX, SARIMAX, and RNN-based Deep Learning Models on Electricity Consumption</h1>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Motor Vehicle Plate Recognition System for Philippine Law Enforcement Checkpoints Using Deep Learning</h1>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Network Anomaly Detection Using NetFlow and Network Automation</h1>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Data Converter Device in Detecting Water Toxicity for Poultry Industry</h1>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Development of Low-Latency and Real-Time Filipino Children Automatic Speech Recognition System using Deep Neural Network</h1>
                    </div>
                </div>


                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Mobile-Based Translation System for Cebuano Language with Object Detection for Travel Assistance using Neural Machine Translation</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">UAV Navigation System with Obstacle Detection using Deep Reinforcement Learning with Noise Injection</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Real-Time Best-Fitted Crops Recommendation System Based On Agricultural Soil Health</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Design of a Behavior Classification System for Monitoring Autism Spectrum Disorder using Deep Learning</h1>
                    </div>
                </div>
            </div>
            
            </div>

        </section>
    </body>
</html>