<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Profile Page</title>
    </head>
    <body>
        <section class="main">
        <div class="profile-card">
            <div class="image">

            </div>
            <div class="data">
                <h1 class="profile-name">Engineer Jonathan V.Taylar</h1>
                <span>Faculty Member-Computer Engineering Department At Technological Institute Of The Philippines-Quezon City</span>
            </div>
            <div class="row">
                <div class="info">
                    <h3>Articles Total</h3>
                    <span>8</span>
                </div>
            </div>
            <div class="card mb-3 content">
                <h1 class="m-3">Recent Articles</h1>
                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Locational marginal price forecasting in a day-ahead power market using spatiotemporal deep learning network</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Locational marginal price forecasting using deep learning network optimized by mapping-based genetic algorithm</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Bitcoin Price Forecasting using Time-series Architectures</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Stock market optimization amidst the COVID-19 pandemic: Technical analysis, K-means algorithm, and mean-variance model (TAKMV) approach</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Multivariate Time Series Forecasting using ARIMAX, SARIMAX, and RNN-based Deep Learning Models on Electricity Consumption</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Corrigendum to “Stock market optimization amidst the COVID-19 pandemic: Technical analysis, K-means algorithm, and mean-variance model (TAKMV) approach”[9 (7)(July 2023) e17577]</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Classification of Roof Construction Materials using Satellite Images with Convolutional Neural Network</h1>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <h1 class="m-3">Cyber-Physical System Framework for Cerebrovascular Accidents using Machine Learning Algorithm</h1>
                    </div>
                </div>
            </div>
            
            </div>

        </section>
    </body>
</html>