<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="2.0">
        <link rel="stylesheet" href="/static/Author.css">
        <title>Articles</title>
    </head>
    <body>

    <div class="topnav">
        <a href="Homepage">Home</a>
        <a href="About">About</a>
        <a href="Homepage">Logout</a>
    </div>

    <div class="topnav">
            <h1 style="text-align: center";>Authors List</h1>
            <p style="text-align: center";>Here's The Lists Of the Authors</p>
    </div>

    <div class="row">
    <div class="column">
        <div class="picture">
            <img src="" alt="Ma'am Venal" style="width: 100%">
            <div class="container">
                <h1>Engineer Ma.Cecilia A.Venal</h1>
                <p class="title">Department Chair-Computer Engineering Department</p>
                <p><button class="button">Click Profile</button></p>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="column">
        <div class="picture">
            <img src="" alt="Doc Taylar" style="width: 100%">
            <div class="container">
                <h2>Engineer Jonathan V. Taylar</h2>
                <p class="title">Faculty Member-Computer Engineering Department</p>
                <p><button class="button">Click Profile</button></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="picture">
                <img src="" alt="Ma'am Alonica" style="width: 100%">
                <div class="container">
                    <h3>Engineer Alonica R.Villanueva</h3>
                    <p class="title">Faculty Member-Computer Engineering Department</p>
                    <p><button class="button">Click Profile</button></p>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="picture">
                <img src="" alt="Sir Ryan" style="width: 100%">
                <div class="container">
                    <h4>Engineer Ryan Francisco</h4>
                    <p class="title">Faculty Member-Computer Engineering Department</p>
                    <p><button class="button">Click Profile</button></p>
                </div>
            </div>
    </div>
    
    <div class="row">
        <div class="column">
            <div class="picture">
                <img src="" alt="Ma'am Menchie" style="width: 100%">
                <div class="container">
                    <h5>Engineer Menchie M. Rosales</h5>
                    <p class="title">Faculty Member-Computer Engineering Department</p>
                    <p><button class="button">Click Profile</button></p>
                </div>
            </div>
    </div>


    <div class="row">
        <div class="column">
            <div class="picture">
                <img src="" alt="Sir Roman" style="width: 100%">
                <div class="container">
                    <h6>Engineer Roman M. Richard</h6>
                    <p class="title">Faculty Member-Computer Engineering Department</p>
                    <p><button class="button">Click Profile</button></p>
                </div>
            </div>         
    </div>
    </body>
</html>