*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow';
    background: blue;
}

.topnav {
    background-color: blue;
    overflow: hidden;
}

.topnav a{
    float: left;
    font-family: 'Arial Narrow';
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: blue;
    color: black;
}

.nav {
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 14px 16px;
    font-family: 'Arial Narrow';
    color: black;
}

.container{
    width: 105%;
    min-height: 50vh;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

input {
    list-style: none;
    width: 100%;
    max-width: 700%%;
    background-color: #fff;
    display: flex;
    margin-top: 0em;
    align-items: center;
    border-radius: 100px;
    padding: 30px 50px;
    font-size: 20px;
    border-top: 1px, solid;
}


::placeholder {
    color: #000;
}

button{
    font-family: 'Arial Narrow';
    background-color: white;
    color: black;
    padding: 25px 20px;
    margin: 100%;
    cursor: pointer;
    opacity: 1;
    width: 10%;
    border-radius: 0%;
}

button:hover {
    background-color: gray;
    color: black;
    opacity: 1;
}

option{
    border-radius: 100px;
    padding: 30px 50px;
    display: table;
    position: relative;
    margin: 30px auto;

}




